<div class="container d-flex justify-content-around mt-5 mb-5">

  <div class=" me-2 mt-5  data">
      <h1 class="ms-2">Landing template for startups</h1>
      <p class="mt-3 ms-2 fs-5">Our landing page template works on all devices,
        so you only have to set it up once, and get beautiful results forever.</p>
      <button class="order-button border-0 rounded  me-2  ">PRE ORDER NOW</button>
      <button class="border-0 rounded bg-black">GET IN TOUCH</button>
  </div>

  <div>
    <img src="photo/Landing Page Template for Startups.jpg" class="photo">
  </div>

</div>
