.inform
{
  width: 850px;
  height: 120px;
  margin-bottom: 70px;
  background-color: rgba(20, 19, 19, 0.473);
}

button
{
  width: 130px;
  height: 40px;
  font-size: 10px;
}

.logo
{
  width: 25px;
}

p
{
  margin-bottom: 3rem;
  font-size: 12px;
  margin-left: 2rem;
}
