/* You can add global styles to this file, and also import other style files */

body
{
  background-color: #1D2026 ;
  color: #fff;
  overflow: auto;
  font-family: "Funnel Display", sans-serif;
}

p
{
  color: #8A94A7;
}
