/* You can add global styles to this file, and also import other style files */

body
{
  background-color: #1D2026 ;
  color: #fff;
  overflow: auto;
  font-family: "IBM Plex Sans", sans-serif;
}

p,span
{
  color: #8A94A7;
}

.order-button
{
  background-image: linear-gradient(to right,#0270D7,#0F8AFD);
}
