<div class="container text-center mb-3">
  <div class="row">
    <div class="col-lg-3 source ">
      <img src="/photo/2.jpeg">
      <div class="text-center">
        <h4>Be Productive</h4>
        <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus
          vitae congue mauris. Nam at
          lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
      </div>
    </div>

    <div class="col-lg-3 source ">
      <img src="/photo/3.jpeg">
      <div class="text-center">
        <h4>Be Productive</h4>
        <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus
          vitae congue mauris. Nam at
          lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
      </div>
    </div>

    <div class="col-lg-3 source ">
      <img src="/photo/4.jpeg">
      <div class="text-center">
        <h4>Be Productive</h4>
        <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus
          vitae congue mauris. Nam at
          lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
      </div>

    </div>

    <div class="col-3 source ">
      <img src="/photo/5.jpeg">
      <h4>Be Productive</h4>
      <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae
        congue mauris. Nam at
        lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
    </div>

    <div class="col-3 source">
      <img src="/photo/6.jpeg">
      <h4>Be Productive</h4>
      <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae
        congue mauris. Nam at
        lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
    </div>

    <div class="col-3 source ">
      <img src="/photo/7.jpeg">
      <h4>Be Productive</h4>
      <p style="font-size: 13px;">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae
        congue mauris. Nam at
        lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
    </div>

  </div>
</div>
<hr style=" border: .1px double; margin: 0px 90px 40px 90px">
